{% extends "recruitiment/layout.html" %}

{% block title %}Cadastro - Pegho{% endblock %}

{% block content %}
<h1>Criar Candidato</h1>

{% load django_bootstrap5 %}

<form method="POST" class="row g-3">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{request.user.username}}">

    <div class="col-md-6">
        {% bootstrap_field form.name placeholder="Nome do Candidato" %}
    </div>

    <div class="col-md-6">
        {% bootstrap_field form.birthday placeholder="Data de Nascimento" %}
    </div>

    <div class="col-md-6">
        {% bootstrap_field form.sex placeholder="Sexo" %}
    </div>

    <div class="col-md-6">
        {% bootstrap_field form.breed placeholder="Raça" %}
    </div>

    <div class="col-md-6">
        {% bootstrap_field form.phone placeholder="Telefone" %}
    </div>

    <div class="col-md-6">
        {% bootstrap_field form.email placeholder="Email" %}
    </div>

    <div class="col-md-12">
        {% bootstrap_field form.url_linkedin placeholder="LinkedIn" %}
    </div>

    <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary me-2">Salvar</button>
        <a href="javascript:history.back()" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Voltar
        </a>
    </div>
</form>


{% endblock %}