{% extends "recruitiment/layout.html" %}

{% block title %}Cadastro - Pegho{% endblock %}

{% block content %}
<h1>Lista de Candidatos</h1>

{% load django_bootstrap5 %}
{% load recruitment_tags %}

<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px;
        text-align: left;
    }

    a.novo-candidato,
    a.botao-voltar {
        display: inline-block;
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 10px;
        /* Espaçamento acima do botão */
    }

    a.novo-candidato:hover,
    a.botao-voltar:hover {
        background-color: #0056b3;
    }
</style>

<table class="table">
    <tr>
        <th>id</th>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Sexo</th>
        <th>Raça</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Url Linkedin</th>
    </tr>
    {% for candidate in candidates %}
    <tr>
        <td><a href="{{ request.path }}/{{ candidate.id }}">{{candidate.id}}</a></td>
        <td>{{candidate.name}}</td>
        <td>{{candidate.birthday|format_date:"%d/%m/%Y"}}</td>
        <td>{{candidate.get_sex_display}}</td>
        <td>{{candidate.get_breed_display}}</td>
        <td>{{candidate.phone}}</td>
        <td>{{candidate.email}}</td>
        <td>{{candidate.url_linkedin}}</td>
    </tr>
    {% endfor %}
</table>

<div class="text-center my-4">
    <p>
        <a class="btn btn-success novo-candidato" href="{{ request.path }}/criar">Clique aqui para criar um
            candidato</a>
    </p>
    <p>
        <a class="btn btn-outline-secondary botao-voltar" href="javascript:history.back()">Voltar</a>
    </p>
</div>

{% endblock %}